* {
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 $padding-header-horizontal;
}

.header__logo {
  height: $header-logo-height;
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  list-style: none;
  align-items: center;
}

.nav__link:not(:last-child) {
  margin-right: $nav-link-gap;
}

.nav__link-item {
  justify-content: center;
  align-items: center;
  height: $nav-link-height;
  text-decoration: none;
  display: flex;
  font-size: $font-sm;
  color: $color-text-main;
  text-transform: uppercase;
  position: relative;

  &:hover {
    color: $color-primary-hover;
  }

  &.is-active {
    color: $color-primary-hover;

    &::after {
      content: '';
      background-color: $color-primary-hover;
      border-radius: $radius-sm;
      width: 100%;
      height: 4px;
      position: absolute;
      bottom: 0;
    }
  }
}
